/*PURPLE #5d3286*/
body {
    font-family: 'Lora', serif;
    background: #78d2e2;
    background-image: url('../imgs/bannerIMG.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
}
/* All Nav Bar Styles */
    #navHead {
        display:none;
    }
    .content {
        display:none;
    }
    .homeHead img{
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:4em;
        margin-bottom:4em;
        width:30em;
    }
    .homeHead div{
        margin-left:auto;
        margin-right:auto;
    }
    .homeNav{
        background-color:#0380a0;
        box-shadow: 4px 4px 5px;
        border-radius: 5px;
        width: 63em;
        height:6em;
    }
    .homeNav button{
        background-color: #828282;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 1em 0.5em;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 10em;
        height:70%;
        border-radius: 5px;
        font-weight:bold;
        text-shadow:1px 1px 2px black;
        box-shadow: 2px 2px 3px black;
    }
    .homeNav button:hover{
        background-color: #cccccc;
    }
    nav {
        background-color:#0380a0;
        box-shadow: 4px 4px 5px;
        width: 100%;
        height:10.5em;
    }
    nav img {
        width: 10em;
        height: auto;
        margin-left:1em;
        padding:2px 2em 0 2em;
        float: left;
    }
    nav button{
        background-color: #828282;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 1em 0.5em;
        transition-duration: 0.4s;
        cursor: pointer;
        width: 10em;
        height:70%;
        border-radius: 5px;
        font-weight:bold;
        text-shadow:1px 1px 2px black;
        box-shadow: 2px 2px 3px black;
    }
    nav button:hover{
        background-color: #cccccc;
    }
/* End Nav Bar Styles */

/* Page Content Styles */
    .contentBody{
        margin-top:3em;
        margin-left:auto;
        margin-right:auto;

        max-width: 80em;
        background: white;
        box-shadow: 3px 3px 5px;
        border-radius: 5px;
        padding: 30px 30px 20px 30px;
        border-radius: 0.5em;
    }
    .contentBody h1{
        color:#0380a0;
        font-weight:bold;
        font-size:3em;
        text-align:center;
    }
    .contentBody h2{
        color:#0380a0;
        font-weight:bold;
        font-size:2.25em;
        text-align:center;
    }    
    .contentBody h3{
        color:#0380a0;
        font-weight:bold;
        font-size:1.75em;
        text-align:center;
    }
    .contentBody p{
        padding:1em;
        font-size:1.25em;
    }
    .centerPageText{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:50em;
    }
    .homeMessage p{
        padding:1em;
        font-size:1.25em;
    }
    .homeMessage img{
        float:right;
        margin-top:2em;
        margin-left:6em;
        width:40%;
        border-radius: 10px;
    }
    .room{
        margin: 2em;
        border: 0.25em solid #828282;
        border-radius: 10px;
        padding: 5px;
        height: 25em;
    }
    .room h1{
        text-align:left;
        margin-left:1.5em;
        color:#0380a0;
        font-size:2.25em;
    }
    .room p{
        padding:2em;
    }
    .room img{
        float:right;
        height:100%;
        width:auto;
        border-radius: 10px;
    }
    .aboutArticle{
        margin: 2em;
        border: 0.25em solid #828282;
        border-radius: 10px;
        padding: 5px;
        height: 25em;
    }
    .aboutArticle h1{
        text-align:left;
        margin-left:1.5em;
        color:#0380a0;
        font-size:2.25em;
    }
    .aboutArticle p{
        padding:2em;
    }
    footer {
        margin-top:3em;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:1em;
        max-width: 60em;
        background: white;
        box-shadow: 3px 3px 5px;
        border-radius: 5px;
        padding: 30px 30px 20px 30px;
        border-radius: 0.5em;
        display:absolute;
        text-align:center;
    }
    footer h2{
        color:#0380a0;
        font-weight:bold;
        font-size:1.25em;
        text-align:center;
    }
/* Page Slideshow Styles */
    /* Slideshow container */
    .slideshow-container {
        float:right;
        width:30em;
        padding:1em;
        height:auto;
    }
    /* Next & previous buttons */
    .prev, .next {
        background-color: rgb(0 0 0 / 75%);
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 20px;
        margin-top: 175px;
        color: #828282;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
      margin-left: 431px;
      border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
      background-color: #717171;
    }
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
/* ======================================Media Queries====================================== */
@media screen and (max-width: 1200px) {/* 1200px and Below */
/* All Nav Bar Styles */
    .homeHead {
        display:none;
    }
    nav {
        display:none;
    }
    #navHead {
        display:inline-block;
        width: 100%;
        height:10em;
    }
    #navHead img{
        max-width: 11em;
        height: auto;
        margin-top:auto;
        margin-right:10em;
        margin-left:auto;
    }
    .dropDownButton{
        background-color:#0380a0;
        border: 0.25em solid #0380a0;
        float:left;
        height:5em;
        width:100%;
    }
    .content {
        display:none;
        margin-top:2em;
        position:relative;
        text-align:center;
        width:100%;
    }
    .dropPanel {
        display:block;
        background-color: #828282;
        border-radius: 5px;
        width:60%;
        height:3em;
        margin-top:1em;
        margin-left:auto;
        margin-right:auto;
        line-height:3em;
        box-shadow: 2px 2px 3px black;
    }
    .dropPanel a{
        font-size:1.5em;
        text-decoration:none;
        text-shadow:1px 1px 2px black;
        color: white;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .show{
        display:block;
    }
/* End Nav Bar Styles */

/* Start Main Content Styles */
    .contentBody h1{
        font-size:30px;
    }
    .contentBody img{
        width:100%;
        margin-bottom:1em;
    }
    .centerPageText {
        width:100%;
    }
    .centerPageText h2{
        font-size:25px;
    }
    .centerPageText h3{
        font-size:20px;
    }
    .centerPageText p{
        font-size:15px;
    }
    .room{
        margin: 2em;
        border: 0.25em solid #828282;
        border-radius: 10px;
        padding: 5px;
        height: 35em;
    }
    .room h1{
        text-align:left;
        margin-left:1.5em;
        color:#0380a0;
        font-size:25px;
    }
    .room p{
        font-size:15px;
    }
    .room img{
        float:right;
        width:100%;
        height:auto;
        border-radius: 10px;
    }
    .aboutArticle{
        margin-left:5px;
        width:95%;
    }
    .aboutArticle h1{
        font-size:25px;
    }
    .aboutArticle p{
        
    }
/* End Main Content Styles */

/* Page Slideshow Styles */
    /* Slideshow container */
    .slideshow-container {
        width:100%;
        padding:0;
        height:auto;
    }
    /* Next & previous buttons */
    .prev, .next {
        position: revert;
        display:inline-block;
        border-radius: 3px 3px 3px 3px;
        width: auto;
        padding: 15px 40px 15px 40px;
        margin-top:-10px;
    }
    /* Position the "next button" to the right */
    .next {
        margin-left:180px;
    }
/* Start Footer Styles */
    footer a{
        padding: 1em;
        display:inline-block;
    }
/* End Footer Styles */
}