/*Global Page Styles*/
body {
	background-color:#a7c1f2;
	font-family: 'Piazzolla';
}

figure img {
	width:80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figcaption{
	text-align:center;
	color:white;
	font-size:150%;
}

.grid-container {
	display: grid;
	grid-template-areas: 'head  head  head  head  head' 
						 'nav   cont  cont  cont  cont'
						 'bCont bCont bCont bCont bCont'
						 'foot  foot  foot  foot  foot';
	grid-column-gap: 150px;
	background-color: #a7c1f2;
	padding: 10px;
}

.room {
	display: grid;
	justify-content: center;
	grid-template-columns: 50px 50px 50%;
	grid-template-areas: 'roomNum roomNum roomNum roomNum roomNum' 
						 'desc    desc    desc    pic     pic';
	border: 5px solid #555;
	border-radius: 8px;
	padding: 10px;
}.abtArt {
	display: grid;
	grid-template-areas: 'title title title' 
						 'descA descA descA'
						 'picA  picB  picC';
	border: 5px solid #555;
	border-radius: 8px;
	padding: 10px;
}


/*Header Styles*/
	.head {grid-area: head;}
	.head img {
		width: 80%;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


/*Navigation Bar Styles*/
	.navBar {
		grid-area: nav;
		max-width: 600px;
		min-width: 500px;
	}
	.navBar ul {list-style-type: none;}
	.navBar li a {
		display: block;
		color: white;
		padding: 5% 10%;
		text-decoration: none;
	}
	.navBar li {
		text-align: left;
		border: 1px solid #555;
		border-radius: 8px;
		background-color: #6392eb;
	}
	.navBar li a.active {
		background-color: #f2f7ff;
		color: #6392eb;
		border: 2px solid #555;
		border-radius: 8px;
	}
	.navBar li a:hover:not(.active) {
		background-color: #555;
		color: white;
		border: 1px solid #556;
		border-radius: 8px;
	}


/*Side Navigation Bar Styles*/
	.content {
		grid-area: cont;
		max-width: 1200px;
		min-width: 400px;
		padding: 5%;
	}
	.content h1 {
		text-align: right;
		font-size:200%;
	}
	.content h2{
		text-align: center;
		font-size:200%;
	}.content h3{
		text-align: center;
		font-size:175%;
	}.content h4{
		text-align: center;
		font-size:125%;
	}.content h5{
		text-align: center;
		font-size:125%;
		color: #ff4d4d;
	}
	.content img {
		height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.content p {
		font-size:130%;
	}


/*Below Navigation Bar Styles*/
	.bContent{
		grid-area: bCont;
	}
	.bContent img {
		height: 300px;
		margin-left: 15%;
		margin-right: auto;
	}
		.room h1 {
			grid-area:roomNum;
			font-size: 150%;
		}
		.room p {
			grid-area:desc;
			font-size: 120%;
		}
		.room img{
			height: 400px;
			grid-area:pic;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: 8px;
		}
		.abtArt h1 {
			grid-area:title;
			font-size: 150%;
		}
		.abtArt p {
			grid-area:descA;
			font-size: 120%;
		}
		.abtArt img{
			height: 300px;
			display: block;
			border-radius: 8px;
		}
	.bContent h3{
		text-align: center;
		font-size:150%;
	}
	
	.bookForm {
		border-radius: 5px;
		background-color: #d4e3ff;
		padding: 20px;
	}
	.col-25 {
		float: left;
		width: 25%;
		margin-top: 6px;
	}
	.col-75 {
		float: left;
		width: 75%;
		margin-top: 6px;
	}
	/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}
	input[type=text], select, textarea {
		width: 95%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		resize: vertical;
	}
	input[type=date], select {
		width: 50%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		resize: vertical;
	}
	input[type=number], select {
		width: 50%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		resize: vertical;
	}
	
	label {
		padding: 12px 12px 12px 0;
		display: inline-block;
	}
	
	input[type=submit] {
		background-color: #6392eb;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		float: right;
	}
	
	input[type=submit]:hover {
		background-color: #555;
	}
	

/*Footer Styles*/
	.footer {
		grid-area: foot;
		background-color: #82a7ed;
		color: white;
		text-align: center;
	}
	.footer h1 {
		font-size:140%;
	}
	.footer h2 {
		font-size:100%;
	}

/*MOBILE STYLES*/
	@media only screen and (max-width: 600px) {
		.grid-container {
			display: grid;
			grid-template-areas: 'head  head' 
								 'nav   nav'
								 'cont cont'
								 'bCont bCont'
								 'foot  foot';
			background-color: #a7c1f2;
			padding: 8px;
		}
		.room {
			display: grid;
			justify-content: center;
			grid-template-columns: 20px 20px 35%;
			grid-template-areas: 'roomNum roomNum roomNum roomNum roomNum' 
								 'desc    desc    desc    pic     pic';
			border: 5px solid #555;
			border-radius: 8px;
			padding: 10px;
		}
		.abtArt {
			display: grid;
			grid-template-areas: 'title title title' 
								 'descA descA descA'
								 'picA  picA  picA '
								 'picB  picB  picB '
								 'picC  picC  picC ';
			border: 5px solid #555;
			border-radius: 8px;
			padding: 10px;
		}
	/*Header Styles*/
		.head img {
			width: 100%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	/*Nav Bar Styles*/
		.navBar {
			grid-area: nav;
			max-width: 500px;
			min-width: 300px;
		}
	/*Side Nav Content Styles*/
		.content {
			grid-area: cont;
			max-width: 500px;
			min-width: 400px;
			padding: 5%;
		}
		.content h1 {
			text-align: center;
			font-size:200%;
		}
		.content img {
			height: 150px;
			margin-left: auto;
			margin-right: auto;
		}
	/*Below Nav Content Styles*/	
		.room img{
			height: 200px;
			grid-area:pic;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: 8px;
		}
		.abtArt img{
			height: 200px;
			grid-area:pic;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border-radius: 8px;
		}
		.col-25, .col-75, input[type=submit] {
			width: 100%;
			margin-top: 0;
		}
	/*Footer Styles*/
		.footer {
			grid-area: foot;
			background-color: #82a7ed;
			color: white;
			text-align: center;
			max-width: 600px;
			min-width: 300px;
		}
	}